<!DOCTYPE html>
<html ng-app="loveboxTechInterview">
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-controller="MainController">
    <div class="container" style="margin-top:2em;">

      <div class="row">
        <div class="col-md-6">
          <div class="jumbotron">
            <h1 class="display-5">Lovebox tech interview</h1>
            <hr class="my-4">
            <p>You can test that <i>Angular</i> works fine here.<br/>Your text appears here : <b>{{textInput}}</b></p>
            <p class="lead">
              <input type="text" ng-model="textInput"/>
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <h2>Instructions</h2>
          <p>The goal is to create some sort of <b>virtual Lovebox</b>.<br/>
          <ul>
          <li>The <u>front-end</u> is composed of 2 parts :
            <ul><li>one that will display a textarea box where you can type love notes, and a send button</li>
            <li>one that will display all received messages</li></ul>
          </li>
          <li>The <u>back-end</u> must implement some functionalities, including but not limited to : being able to send messages,
            being able to read messages ; The back-end must implement a REST API
            <ul><li><b>/api/send/</b> will be the endpoint for POST requests</li>
              <li><b>/api/messages/</b> will be the endpoint for GET requests</li></ul></li>
          </ul>
          </p>
          <p>This test doesn't require the use of a database because we don't care about the persistence of the messages</p>
        </div>

      </div>

    </div>
  </body>
</html>
